@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6b3fa0;
    color: white; /* Cor do texto */
}

.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Sombra mais forte para o efeito escuro */
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(42, 42, 42); /* Fundo do formulário escuro */
    padding: 3rem;
}

.login-style {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    background-color: rgb(42, 42, 42);
}

.login-style img {
    width: 100%;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button a {
    border: none;
    background-color: rgb(132, 14, 201); /* Cor do botão */
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    color: #fff; /* Cor do texto do botão */
}

.login-button a:hover {
    background-color: rgb(160, 30, 250);
}


.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: rgb(132, 14, 201); /* Linha abaixo do título */
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px rgba(255, 255, 255, 0.1); /* Sombra clara para os campos de entrada */
    font-size: 0.8rem;
    background-color: rgb(52, 52, 52); /* Fundo dos campos de entrada escuro */
    color: white; /* Texto branco nos campos de entrada */
}

.input-box input:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Alteração de cor ao passar o mouse */
}

.input-box input:focus-visible {
    outline: 1px solid rgb(132, 14, 201); /* Contorno do campo ao focar */
}

.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #ffffffc0; /* Cor do texto das labels em cinza claro */
}

.input-box input::placeholder {
    color: #ffffff80; /* Cor do placeholder em branco semitransparente */
}

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-right: 0.35rem;
}

.gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #ffffffc0; /* Cor do texto das labels em cinza claro */
}

.continue-button button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: rgb(132, 14, 201); /* Cor base do botão */
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover {
    background-color: rgb(160, 30, 250); /* Novo tom de roxo para o hover */
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff; /* Cor do texto do botão */
}

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    .gender-inputs {
        margin-top: 2rem;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-title h6 {
        margin: 0;
    }
    .gender-input {
        margin-top: 0.5rem;
    }
}
